
html {
  height:100%;
  scroll-behavior:smooth;
}

* {
  text-decoration:none;
}



/*-----OVERLAY-----*/
#overlay {
  /* background-color: rgba(255,255,255,0.75); */
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }
/*-----END OVERLAY-----/



/*-----GRID-----*/
#wrapper {
  display:grid;
  height:100%;
  grid-template-rows:6rem repeat(6, 1fr);
  grid-template-columns:minmax(0,217px) minmax(0, 1fr) repeat(5, minmax(0px, 175px)) minmax(0px, 1fr);
  position:relative;
}
/*-----END GRID-----*/

/*-----NAV BOX-----*/
nav {
  position:relative;
  display:flex;
  flex-direction:column;
  background-color:rgba(6, 6, 6, 0.8); 
  grid-row:1/8;
  grid-column:1/2;
  width:217px;
  margin-right:1px;
  z-index:1;
  box-shadow:
    12px -5px 30px rgba(255,255,255,0.2) /*glow*/;
}

nav ul {
  padding-left:1rem;
  display:flex;
  flex-flow:column nowrap;
  list-style-type:none;
}

nav ul li {
  position:relative;
  padding:1rem 0;
}

nav ul li::after { /*horizontal navigation line separator*/
  content:"";
  position:absolute;
  padding-left:0;
  left:-10px; 
  bottom:0; 
  width:100%; 
  height:1px;
  background-color:#cccdcc; 
  opacity:0.5; 
}

nav ul li a {
  display:inline-block;
  margin-left:-7px;
}


nav h3 {
  box-sizing:content-box;
  border:2px solid #cccdcc; 
  padding:0.5rem 5px;
  margin:0 1rem;
  margin-top:6.1rem;
  text-align:center;
}

nav p {
  text-align:center;
  margin-top:0.4rem;
  margin-bottom:3.5rem;
}

nav footer {
  text-align:center;
  font-family:arial;
  font-style:italic;
  margin-top:auto;
  margin-bottom:00.55rem;
  color:#ccc;
}

nav footer a {
  color:#ccc;
}

/*-----END NAV BOX-----*/



/*------BACKGROUND-------*/
body {
  height:100vh;
  margin:0;
  background-image:url("files/4k-optimized.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center top;
}

/*------END BACKGROUND-------*/



/*------MAIN CONTENT BLOCK-------*/
main {
  position:relative;
  background-color:rgba(255, 255, 255, .95);
  grid-row:2/8;
  grid-column:2/9;
  height:98%;
  width:70%;
  margin-left:15%;
  overflow-y:auto;
  overflow-x:auto;
  z-index:2;
  box-shadow:
    19px 5px 20px rgba(0,0,0,0.8), /*shadow*/
    -12px 5px 30px rgba(255,255,255,0.2); /*glow*/
}

main .border-gradient { /*border gradient on content box*/
  position:sticky;
  top:0;
  left:0;
  height:9px;
  width:100%;
  background:repeating-linear-gradient(to right, #0074a0 0 190px,#4c4c4c 100px 500px);
  z-index:2;
}

/*------END MAIN CONTENT BLOCK-------*/



/*-----SECTION-----*/
section {
  position:relative;
  padding-left:19rem;
  padding-bottom:5rem;
  scroll-margin-top:7rem;
}

section::before { /*vertical circle node*/
  content:"";
  position:absolute;
  left:14.1rem;
  top:0.35rem; 
  width:16px;
  height:16px;
  background-color:white;
  border:3px solid #cccccc;
  border-radius:50%;
  transform:translateX(-50%);
  z-index:1;
}

section::after { /*vertical 'timeline'*/
  content:"";
  position:absolute;
  top:-2.1rem;
  bottom:0;
  left:14rem;  
  width:4px;
  background-color:#cccccc;
  z-index:0;  
}

section span.branch-line { /*horizontal branch line*/
  content:"";
  position:absolute;
  left:calc(14rem + 0.5rem); 
  top:1rem; 
  width:3rem;
  height:2px;
  background-color:#cccccc;
}

section span.branch-dot { /*section span branch-dot*/
  position:absolute;
  left:calc(14rem + 0.5rem + 3rem - 0.35rem);
  top:0.73rem;
  width:0.7rem;
  height:0.7rem;
  background-color:#cccccc;
  border-radius:50%;
  display:block;
}
/*-----END SECTION-----*/



/*-----INTRO-----*/
#intro {
  display:flex;
  gap:5rem;  
}

#intro #selfie { /*circular self portrait*/
  position:relative;
  padding-top:4.8rem;
  margin-left:129px;
  z-index:3;
}

#intro ul {
  display: flex;
  padding:0px;
  padding-top:1rem;
  display:flex;
  flex-flow:row nowrap;
  list-style-type:none;
  padding-left:0rem;
  margin-top:-1.5%;

}

#intro ul li {/*space between socials icons*/
  width:18%;
}

#intro-text {
  padding-top:3rem;
  text-align:left;
  margin-left:-50px;
  align-items:center;
  justify-content:center;
}

#intro h1 {
  display:inline-block; 
  border-bottom:2px solid #0074a0; 
  padding-bottom:2rem; 
  margin-bottom:0;
}

/*-----END INTRO---*/



/*-----PROFILE-----*/
#profile {
  padding-right:10rem;
}
/*-----END PROFILE-----*/



/*-----EDUCATION-----*/
#education {
  padding-right:10rem;
}
/*-----END EDUCATION-----*/



/*-----INTERESTS-----*/
#interests {
  padding-right:10rem;
}
/*-----END INTERESTS-----*/



/*-----GOALS-----*/
#goals {
  padding-right:10rem;
}
/*-----END GOALS-----*/



/*-----CONTACT----*/
#contact {
  padding-right:10rem;
}
/*-----END CONTACT----*/



/*-----FOOTER-----/
footer {
  padding-top:25rem;
  text-align:center;
  font-family:arial;
  font-style:italic;
  margin-bottom:1rem;
  color:#ccc;
}
/-----END FOOTER-----*/

.icon:hover {
  filter:grayscale(100%) brightness(0%) invert(40%) sepia(100%) saturate(500%) hue-rotate(190deg);
  transition:filter 0.3s ease;
}

.icon {
  filter:none;
}

.current {
  filter:grayscale(100%) brightness(0%) invert(40%) sepia(100%) saturate(500%) hue-rotate(190deg);
}

/*-----FONT STYLING-----*/

body {
  color:#4c4c4c;
  font-family:Anonymous Pro; 
  font-style:normal; 
  font-variant:normal; 
  font-size:0.8rem; 
  font-weight:400; 
  line-height:22px; 
}

.navigate {
  color:#cccdcc;
  font-size:1.5rem; 
  font-weight:400; 
}

.role {
  color:#cccdcc;
  font-weight:400;
}


#intro h1 {
  font-size:4rem; 
  font-weight:700; 
}

#intro-text p {
  font-size:1.7rem; 
}

.sctn {
  color:#0074a0;
  font-size:2.2rem;
  font-weight:700;
}

.explorer {
  color:#0074a0;
  font-weight:700;
}

.email {
  color:#0074a0;
}

.email:hover {
  filter:grayscale(100%) brightness(0%) invert(40%) sepia(100%) saturate(500%) hue-rotate(0deg);
  transition:filter 0.3s ease;
}
/*-----END FONT STYLING-----*/


/*-----MOBILE FORMATTING-----*/
@media screen and (max-width: 900px) {
  #wrapper {
  }
  body {
    background-image:none;
  }

  nav {
    position:relative;
    background-color:rgba(17, 17, 17, 1); 
    grid-row:1/-1;
    z-index:5;
    height:100%;
    width:160px;
  }

  nav h3 {
    margin:0 1rem;
    margin-top:2rem;
  }

  main {
    background-color:rgba(255, 255, 255, .95);
    grid-column: 1/-1; 
    grid-row:1/-1;
    width:auto;
    height:100%;
    margin-right:0px;
    margin-left:13%;
    overflow-x:auto;
  }

  section::after { /*vertical 'timeline'*/
    content:"";
    position:absolute;
    top:-5.1rem;
  }

  #intro {
  }

  #intro #selfie img { /*circular self portrait*/
    width:30px;
    height:auto;
  }

  #intro #selfie {
    padding-top:1.7rem;
    padding-right:0px;
  }

  #intro h1 {
    font-size:2rem;
    text-align:center;
    line-height:1;
  }

  #intro ul li {/*space between socials icons*/
    width:70%;
  }

  #intro-text {
    padding-top:1.7rem;
    padding-left:-10px;
    font-size:1rem; 
  }

  .sctn {
    color:#0074a0;
    font-size:1.2rem;
    font-weight:700;
  }

  #profile {
    padding-right:2rem;
  }

  #education {
    padding-right:2rem;
  }

  #interests {
    padding-right:2rem;
  }

  #goals {
    padding-right:2rem;
  }

  #contact {
    padding-right:2rem;
  }

  .navigate {
    font-size:1rem; 
  }

  nav footer {
    font-size:0.6rem;
  }
}
/*-----MOBILE FORMATTING-----*/



/*-----SMALL SCREENS FOR PEASANTS-----*/

@media screen and (max-width: 1400px) {
  #intro h1 {
    font-size:2rem;
    text-align:center;
    line-height:0.8;
  }

  #intro ul li {/*space between socials icons*/
    width:70%;
  }
  #intro-text p {
    font-size:1rem; 
  }

  .sctn {
    color:#0074a0;
    font-size:1.2rem;
    font-weight:700;
  }
}
/*-----END PEASANT SCREENS-----*/
